/* #rightCol {
    display: none;
} */
/* #stories_pagelet_below_composer {
    display: none;
} */



/* homepage all newsfeed contents, right section , friend request section */
/*#stream_pagelet , #rhc_col, #pagelet_ego_pane {
    display: none;
}*/


/* // I've tried to remove images from chat side bar but failed. code below
div img.img {
    display: none;
} */

/* NOT WORKING chat sidebar profile image  */ 
/* div._1gyw _55lt {
    display: none;
} */

